# Categoricals and groupby

### Advantages of categorical data types
What are the main advantages of storing data explicitly as categorical types instead of object types?

* Computations are faster
* Categorical data require less space in memory
* All of the above *
* None of the above

### Grouping by multiple columns
In this exercise, you will return to working with the Titanic dataset from Chapter 1 and use .groupby() to analyze the distribution of passengers who boarded the Titanic.

The 'pclass' column identifies which class of ticket was purchased by the passenger and the 'embarked' column indicates at which of the three ports the passenger boarded the Titanic. 'S' stands for Southampton, England, 'C' for Cherbourg, France and 'Q' for Queenstown, Ireland.

Your job is to first group by the 'pclass' column and count the number of rows in each class using the 'survived' column. You will then group by the 'embarked' and 'pclass' columns and count the number of passengers.

The DataFrame has been pre-loaded as titanic.

* Group by the 'pclass' column and save the result as by_class.
* Aggregate the 'survived' column of by_class using .count(). Save the result as count_by_class.
* Print count_by_class. This has been done for you.
* Group titanic by the 'embarked' and 'pclass' columns. Save the result as by_mult.
* Aggregate the 'survived' column of by_mult using .count(). Save the result as count_mult.
* Print count_mult. This has been done for you, so hit 'Submit Answer' to view the result.

In [2]:
import pandas as pd
titanic = pd.read_csv('datasets/titanic.csv')

# Group titanic by 'pclass'
by_class = titanic.groupby('pclass')

# Aggregate 'survived' column of by_class by count
count_by_class = by_class['survived'].count()

# Print count_by_class
print(count_by_class)

# Group titanic by 'embarked' and 'pclass'
by_mult = titanic.groupby(['embarked', 'pclass'])

# Aggregate 'survived' column of by_mult by count
count_mult = by_mult['survived'].count()

# Print count_mult
print(count_mult)

'''Grouping your data by certain columns like this and aggregating them by another column, in this case, 'survived', allows you to carefully examine your data for interesting insights.'''

pclass
1    323
2    277
3    709
Name: survived, dtype: int64
embarked  pclass
C         1         141
          2          28
          3         101
Q         1           3
          2           7
          3         113
S         1         177
          2         242
          3         495
Name: survived, dtype: int64

"Grouping your data by certain columns like this and aggregating them by another column, in this case, 'survived', allows you to carefully examine your data for interesting insights."

### Grouping by another series
In this exercise, you'll use two data sets from [Gapminder.org](https://www.gapminder.org/) to investigate the average life expectancy (in years) at birth in 2010 for the 6 continental regions. To do this you'll read the life expectancy data per country into one pandas DataFrame and the association between country and region into another.

By setting the index of both DataFrames to the country name, you'll then use the region information to group the countries in the life expectancy DataFrame and compute the mean value for 2010.

The life expectancy CSV file is available to you in the variable life_fname and the regions filename is available in the variable regions_fname.

* Read life_fname into a DataFrame called life and set the index to 'Country'.
* Read regions_fname into a DataFrame called regions and set the index to 'Country'.
* Group life by the region column of regions and store the result in life_by_region.
* Print the mean over the 2010 column of life_by_region.

In [54]:
gapminder = pd.read_csv('datasets/gapminder_tidy.csv')

life = gapminder.pivot(index='Country', columns='Year', values='life')

print(life.head())
# save to csv
life.to_csv('./datasets/life_fname')

Year                   1964    1965    1966    1967    1968    1969    1970  \
Country
Afghanistan          33.639  34.152  34.662  35.170  35.674  36.172  36.663
Albania              65.475  65.863  66.122  66.316  66.500  66.702  66.948
Algeria              47.953  48.389  48.806  49.205  49.592  49.976  50.366
Angola               34.604  35.007  35.410  35.816  36.222  36.627  37.032
Antigua and Barbuda  63.775  64.149  64.511  64.865  65.213  65.558  65.898

Year                   1971    1972    1973   ...      2004    2005    2006  \
Country                                       ...
Afghanistan          37.143  37.614  38.075   ...    56.583  57.071  57.582
Albania              67.251  67.595  67.966   ...    75.725  75.949  76.124
Algeria              50.767  51.195  51.670   ...    69.682  69.854  70.020
Angola               37.439  37.846  38.247   ...    48.036  48.572  49.041
Antigua and Barbuda  66.232  66.558  66.875   ...    74.355  74.544  74.729

Year                   2007    2008    2009    2010    2011    2012    2013
Country
Afghanistan          58.102  58.618  59.124  59.612  60.079  60.524  60.947
Albania              76.278  76.433  76.598  76.780  76.979  77.185  77.392
Algeria              70.180  70.332  70.477  70.615  70.747  70.874  71.000
Angola               49.471  49.882  50.286  50.689  51.094  51.498  51.899
Antigua and Barbuda  74.910  75.087  75.263  75.437  75.610  75.783  75.954

[5 rows x 50 columns]

In [50]:
gapminder = pd.read_csv('datasets/gapminder_tidy.csv')
regions = gapminder[['Country', 'region']]
regions = regions.set_index(['Country'])
# get rid of duplicate Country data
regions = regions[~regions.index.duplicated(keep='first')]
print(regions.head())
type(regions)
# save to csv
regions.to_csv('./datasets/regions_fname')

                                         region
Country
Afghanistan                          South Asia
Albania                   Europe & Central Asia
Algeria              Middle East & North Africa
Angola                       Sub-Saharan Africa
Antigua and Barbuda                     America

In [53]:
# Read life_fname into a DataFrame: life
life = pd.read_csv('./datasets/life_fname', index_col='Country')

# Read regions_fname into a DataFrame: regions
regions = pd.read_csv('./datasets/regions_fname', index_col='Country')

# Group life by regions['region']: life_by_region
life_by_region = life.groupby(regions['region'])

# Print the mean over the '2010' column of life_by_region
print(life_by_region['2010'].mean())

'''It looks like the average life expectancy (in years) at birth in 2010 was highest in Europe & Central Asia and lowest in Sub-Saharan Africa.'''

region
America                       74.037350
East Asia & Pacific           73.405750
Europe & Central Asia         75.656387
Middle East & North Africa    72.805333
South Asia                    68.189750
Sub-Saharan Africa            57.575080
Name: 2010, dtype: float64

'It looks like the average life expectancy (in years) at birth in 2010 was highest in Europe & Central Asia and lowest in Sub-Saharan Africa.'