# Comparison Operators
* How Python values relate

In [4]:
# Numeric Comparisons
2 < 3 # 2 is less than 3

True

In [5]:
2 == 3 # 2 is equal to 3

False

In [6]:
2 <= 3 # 2 is less than or equal to 3

True

In [7]:
3 <= 3

True

In [8]:
x = 2
y = 3
x < y

True

In [10]:
# Other Comparisons
"carl" < "chris" # ccompare string with "less than" to see if carl comes before chris alphabetically

True

In [11]:
3 < "chris" # Error, can't work with different object types

TypeError: '<' not supported between instances of 'int' and 'str'

In [12]:
3 < 4.1 # can only work with integer and float

True

In [13]:
import numpy as np
bmi = np.array([21.852, 20.975, 21.75, 24.747, 21.441])
bmi

array([21.852, 20.975, 21.75 , 24.747, 21.441])

In [14]:
bmi > 23 # numpy builds an array of 23 equal in length to bmi and does a comparison

array([False, False, False,  True, False])

In [15]:
3 != 4 # 3 is "not equal" to 4

True

In [17]:
# Exercise 1

# Comparison of booleans
print(True == False)

# Comparison of integers
print(-5 * 15 != 75)

# Comparison of strings
print("pyscript" == "PyScript")

# Compare a boolean with an integer
print(True == 1) # ture = 1 and false = 0

False
True
False
True

In [18]:
# Exercise 2

# Comparison of integers
x = -3 * 6
print(x >= -10)

# Comparison of strings
y = "test"
print("test" <= y)

# Comparison of booleans
print(True > False)

False
True
True

In [19]:
# Exercise 3

# Create arrays
import numpy as np
my_house = np.array([18.0, 20.0, 10.75, 9.50])
your_house = np.array([14.0, 24.0, 14.25, 9.0])

# my_house greater than or equal to 18
print(my_house >= 18)

# my_house less than your_house
print(my_house < your_house)

[ True  True False False]
[False  True  True False]

# Boolean Operators
* and
* or
* not

In [20]:
# and, only ture if both are ture
True and True

True

In [21]:
True and False

False

In [22]:
False and False

False

In [23]:
x = 12
x > 5 and x < 15

True

In [24]:
# or, ture if 1 of the operators is true
True or True

True

In [25]:
True or False

True

In [26]:
False or False

False

In [27]:
y = 5
y < 7 or y > 13

True

In [28]:
# not, negate the boolean operator
not True

False

In [29]:
not False

True

In [30]:
import numpy as np
bmi = np.array([21.852, 20.975, 21.75, 24.747, 21.441])
bmi

array([21.852, 20.975, 21.75 , 24.747, 21.441])

In [31]:
print(bmi > 21)
print(bmi < 22)

[ True False  True  True  True]
[ True  True  True False  True]

In [32]:
print(bmi > 21 and bmi < 22) # Error

ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()

In [34]:
# logical_and()
# logical_or()
# logical_not()

print(np.logical_and(bmi > 21, bmi < 22))

[ True False  True False  True]

In [35]:
# build and array from the results
print(bmi[np.logical_and(bmi > 21, bmi < 22)])

[21.852 21.75  21.441]

In [37]:
# Exercise 4

# Define variables
my_kitchen = 18.0
your_kitchen = 14.0

# my_kitchen bigger than 10 and smaller than 18?
print(my_kitchen > 10 and my_kitchen < 18)

# my_kitchen smaller than 14 or bigger than 17?
print(my_kitchen < 14 or my_kitchen > 17)

# Double my_kitchen smaller than triple your_kitchen?
print(my_kitchen * 2 < 3 * your_kitchen)

False
True
True

In [38]:
# Exercise 5

x = 8
y = 9
not(not(x < 3) and not(y > 14 or y > 10))
# True, False, or Error?

False

In [39]:
# Exercise 6

# Create arrays
import numpy as np
my_house = np.array([18.0, 20.0, 10.75, 9.50])
your_house = np.array([14.0, 24.0, 14.25, 9.0])

# my_house greater than 18.5 or smaller than 10
print(np.logical_or(my_house > 18.5, my_house < 10))

# Both my_house and your_house smaller than 11
print(np.logical_and(my_house < 11, your_house < 11))

[False  True False  True]
[False False False  True]

# if, elif, else

### Overview
* Comparison Operators
    * <, >, >=, <=, ==, !=
* Boolean Operators
    * and, or, not
* Conditional Statements
    * if, else, elif

In [50]:
# if
'''
if condition :
    expression
expression # not part of if statement
'''
! python3.6 control.py

Z is even

In [54]:
# else
'''
if condition :
    expression
else:
    expression
'''
! python3.6 control_01.py

Z is odd

In [56]:
# elif
'''
if condition :
    expression
elif condition:
    expression
else:
    expression
'''
! python3.6 control_02.py

Z is divisible by 3

In [2]:
! cat control_02.py

z = 3
if z % 2 == 0:
    print("Z is is divisible by 2")
elif z % 3 == 0:
    print("Z is divisible by 3")
else:
    print("Z is neither divisible by 2 nor by 3")

In [57]:
# Exercise 7

area = 10.0
if(area < 9) :
    print("small")
elif(area < 12) :
    print("medium")
else :
    print("large")

medium

In [58]:
# Exercise 8

# Define variables
room = "kit"
area = 14.0

# if statement for room
if room == "kit" :
    print("looking around in the kitchen.")

# if statement for area
if area > 15:
    print("big place!")

looking around in the kitchen.

In [59]:
# Exercise 9

# Define variables
room = "kit"
area = 14.0

# if-else construct for room
if room == "kit" :
    print("looking around in the kitchen.")
else :
    print("looking around elsewhere.")

# if-else construct for area
if area > 15 :
    print("big place!")
else:
    print("pretty small.")

looking around in the kitchen.
pretty small.

In [60]:
# Exercise 10

# Define variables
room = "bed"
area = 14.0

# if-elif-else construct for room
if room == "kit" :
    print("looking around in the kitchen.")
elif room == "bed":
    print("looking around in the bedroom.")
else :
    print("looking around elsewhere.")

# if-elif-else construct for area
if area > 15 :
    print("big place!")
elif area > 10:
    print("medium size, nice!")
else :
    print("pretty small.")

looking around in the bedroom.
medium size, nice!

# Filtering Pandas DataFrame

In [61]:
import pandas as pd
brics = pd.read_csv("brics.csv", index_col = 0)
brics

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

### Goal
* Select countries with over 8 million square km
* 3 steps
    * Select the area column
    * Do comparison on area column
    * Use result to select countries

In [62]:
# Step 1: Get column

# Need Pandas Series, not DataFrame
brics["area"]
# alternatives
#brics.loc[:,"area"]
#brics.iloc[:,2]

BR     8.516
RU    17.100
IN     3.286
CH     9.597
SA     1.221
Name: area, dtype: float64

In [63]:
# Setp 2: Compare

brics["area"] > 8

BR     True
RU     True
IN    False
CH     True
SA    False
Name: area, dtype: bool

In [65]:
# store as a variable

is_huge = brics["area"] > 8
is_huge

BR     True
RU     True
IN    False
CH     True
SA    False
Name: area, dtype: bool

In [66]:
# Step 3: Subset DataFrame

brics[is_huge]

   country   capital    area  population
BR  Brazil  Brasilia   8.516       200.4
RU  Russia    Moscow  17.100       143.5
CH   China   Beijing   9.597      1357.0

In [67]:
# Summary
is_huge = brics["area"] > 8
brics[is_huge]
# oneliner
brics[brics["area"] > 8]

   country   capital    area  population
BR  Brazil  Brasilia   8.516       200.4
RU  Russia    Moscow  17.100       143.5
CH   China   Beijing   9.597      1357.0

In [68]:
# Use Boolean operators to get areas between 8 and 10

np.logical_and(brics["area"] > 8, brics["area"] < 10)

BR     True
RU    False
IN    False
CH     True
SA    False
Name: area, dtype: bool

In [69]:
# Subset

brics[np.logical_and(brics["area"] > 8, brics["area"] < 10)]

   country   capital   area  population
BR  Brazil  Brasilia  8.516       200.4
CH   China   Beijing  9.597      1357.0

In [70]:
# Exercise 11

# Import cars data
import pandas as pd
cars = pd.read_csv('cars.csv', index_col = 0)

# Extract drives_right column as Series: dr
dr = cars["drives_right"]

# Use dr to subset cars: sel
sel = cars[dr == True]

# Print sel
print(sel)

           country  drives_right  cars_per_cap
US   United States          True           809
RU          Russia          True           200
MOR        Morocco          True            70
EG           Egypt          True            45

In [72]:
# Exercise 12

# Import cars data
import pandas as pd
cars = pd.read_csv('cars.csv', index_col = 0)

# Convert code to a one-liner
#dr = cars['drives_right']
#sel = cars[cars["drives_right"] == True]
sel = cars[cars["drives_right"]]

# Print sel
print(sel)

           country  drives_right  cars_per_cap
US   United States          True           809
RU          Russia          True           200
MOR        Morocco          True            70
EG           Egypt          True            45

In [73]:
# Exercise 13

# Import cars data
import pandas as pd
cars = pd.read_csv('cars.csv', index_col = 0)

# Create car_maniac: observations that have a cars_per_cap over 500
cpc = cars["cars_per_cap"]
many_cars = cpc > 500
car_maniac = cars[many_cars]


# Print car_maniac
print(car_maniac)

           country  drives_right  cars_per_cap
US   United States          True           809
AUS      Australia         False           731
JAP          Japan         False           588

In [1]:
# Exercise 14

# Import cars data
import pandas as pd
cars = pd.read_csv('cars.csv', index_col = 0)

# Import numpy, you'll need this
import numpy as np

# Create medium: observations with cars_per_cap between 100 and 500
cpc = cars['cars_per_cap']
between = np.logical_and(cpc > 100, cpc < 500)
medium = cars[between]

# Print medium
print(medium)

   country  drives_right  cars_per_cap
RU  Russia          True           200