# Loops

In [1]:
# Previous chapter

! cat ./py_script/control_02.py

z = 3
if z % 2 == 0:
    print("Z is is divisible by 2")
elif z % 3 == 0:
    print("Z is divisible by 3")
else:
    print("Z is neither divisible by 2 nor by 3")

### While Loop
* Numerically Calculating model
* "repeating action until condition is met"
* Example
    * Error starts at 50
    * Divide error by 4 on every run
    * Continue until error is no longer > 1

* while loop = repeated if statement

In [4]:
# While
"""
while condition:
    expression
"""
!cat ./py_script/while_loop.py

error = 50.0

while error > 1:
    error = error / 4
    print(error)

In [6]:
!python3 ./py_script/while_loop.py

12.5
3.125
0.78125

In [5]:
# Exercise 1

x = 1
while x < 4 :
    print(x)
    x = x + 1
# How many prints whill there be?

1
2
3

In [7]:
# Exercise 2

# Initialize offset
offset = 8

# Code the while loop
while offset != 0:
    print("correcting...")
    offset = offset - 1
    print(offset)

correcting...
7
correcting...
6
correcting...
5
correcting...
4
correcting...
3
correcting...
2
correcting...
1
correcting...
0

In [9]:
# Exercise 3

# Initialize offset
offset = -6

# Code the while loop
while offset != 0 :
    print("correcting...")
    if offset > 0:
        offset = offset - 1
    else:
        offset = offset + 1
    print(offset)

correcting...
-5
correcting...
-4
correcting...
-3
correcting...
-2
correcting...
-1
correcting...
0

### For Loop

In [11]:
# for loop
"""
for variable in sequence:
    expression
"""
!cat ./py_script/family.py

fam = [ 1.73, 1.68, 1.71, 1.89]
#print(fam)
# print each seprately
#print(fam[0])
#print(fam[1])
#print(fam[2])
#print(fam[3])
# use for loop to print each seprately
for height in fam:
    print(height)

In [14]:
!python3 ./py_script/family.py

[1.73, 1.68, 1.71, 1.89]

In [15]:
# print each seprately with for loop
! python3 ./py_script/family_01.py

1.73
1.68
1.71
1.89

In [16]:
# get the index and object
!python3 ./py_script/family_02.py

index 0 : 1.73
index 1 : 1.68
index 2 : 1.71
index 3 : 1.89

In [17]:
# using for loop on a string
!python3 ./py_script/strloop.py

F
A
M
I
L
Y

In [18]:
# Exercise 4

# areas list
areas = [11.25, 18.0, 20.0, 10.75, 9.50]

# Code the for loop
for area in areas:
    print(area)

11.25
18.0
20.0
10.75
9.5

In [19]:
# Exercise 5

# areas list
areas = [11.25, 18.0, 20.0, 10.75, 9.50]

# Change for loop to use enumerate() and update print()
for index, a in enumerate(areas) :
    print("room", str(index), ":", str(a))

room 0 : 11.25
room 1 : 18.0
room 2 : 20.0
room 3 : 10.75
room 4 : 9.5

In [20]:
# Exercise 6

# areas list
areas = [11.25, 18.0, 20.0, 10.75, 9.50]

# Code the for loop
for index, area in enumerate(areas) :
    print("room " + str(index + 1) + ": " + str(area))

room 1: 11.25
room 2: 18.0
room 3: 20.0
room 4: 10.75
room 5: 9.5

In [21]:
# Exercise 7

# house list of lists
house = [["hallway", 11.25], 
         ["kitchen", 18.0], 
         ["living room", 20.0], 
         ["bedroom", 10.75], 
         ["bathroom", 9.50]]
         
# Build a for loop from scratch
for room, area in house:
    print("the", room, "is", str(area), "sqm")

the hallway is 11.25 sqm
the kitchen is 18.0 sqm
the living room is 20.0 sqm
the bedroom is 10.75 sqm
the bathroom is 9.5 sqm

### Looping Data Structures, Part 1

In [22]:
# for key, value in dictionary.items():
    #print()
! cat ./py_script/dictloop.py

world = {"afghanistan":20.55,
         "albania":2.77,
         "algeria":39.21 }

for key, value in world.items():
    print(key, " -- ", str(value))

In [25]:
! python3 ./py_script/dictloop.py

afghanistan -- 20.55
albania -- 2.77
algeria -- 39.21

In [27]:
# ./py_script/nploop.py
import numpy as np 
np_height = np.array([1.73, 1.68, 1.71, 1.89, 1.79])
np_weight = np.array([65.4, 59.2, 63.6, 88.4, 68.7])
bmi = np_weight / np_height ** 2

for value in bmi:
    print(value)

21.85171572722109
20.97505668934241
21.750282138093777
24.74734749867025
21.44127836209856

In [29]:
# ./py_script/np2dloop.py

import numpy as np 
np_height = np.array([1.73, 1.68, 1.71, 1.89, 1.79])
np_weight = np.array([65.4, 59.2, 63.6, 88.4, 68.7])
bmi = np_weight / np_height ** 2
meas = np.array([np_height, np_weight])

for val in np.nditer(meas):
    print(val)

1.73
1.68
1.71
1.89
1.79
65.4
59.2
63.6
88.4
68.7

In [30]:
# Exercise 8

# Definition of dictionary
europe = {'spain':'madrid', 'france':'paris', 'germany':'berlin',
          'norway':'oslo', 'italy':'rome', 'poland':'warsaw', 'austria':'vienna' }
          
# Iterate over europe
for key, value in europe.items() :
    print("the capital of", key, "is", value)

the capital of poland is warsaw
the capital of germany is berlin
the capital of austria is vienna
the capital of france is paris
the capital of italy is rome
the capital of norway is oslo
the capital of spain is madrid

In [54]:
# Exercise 9

# Import numpy as np
import numpy as np

height = np.round(np.random.normal(74, 0.20, 10), 2)
weight = np.round(np.random.normal(134, 15, 10), 2)


np_height = np.array(height)
np_weight = np.array(weight)
np_baseball = np.vstack((np_height,np_weight)).T

# For loop over np_height
for height in np.nditer(np_height):
    print(height, "inches")

# For loop over np_baseball
for value in np.nditer(np_baseball):
    print(value)
    #end = print(value)

74.01 inches
74.19 inches
74.15 inches
74.0 inches
74.1 inches
74.18 inches
74.07 inches
74.08 inches
73.97 inches
74.06 inches
74.01
74.19
74.15
74.0
74.1
74.18
74.07
74.08
73.97
74.06
116.67
127.31
144.7
140.62
143.99
150.84
101.07
121.17
113.62
151.43

In [53]:
np_baseball

array([[ 74.02, 127.33],
       [ 73.72, 100.06],
       [ 73.81, 121.85],
       [ 74.2 , 124.34],
       [ 73.99, 130.92],
       [ 73.9 , 126.88],
       [ 73.39, 160.64],
       [ 74.07, 140.05],
       [ 74.06, 143.76],
       [ 73.88, 134.88]])

### Looping Data Structures, Part 2

In [57]:
# !python3 ./py_script/dfloop.py
import pandas as pd 
brics = pd.read_csv("brics.csv", index_col = 0)
brics

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

In [58]:
# !python3 ./py_script/dfloop_01.py
import pandas as pd 
brics = pd.read_csv("brics.csv", index_col = 0)

for val in brics:
    print(val)

country
capital
area
population

In [59]:
# !python3 ./py_script/dfloop_02.py
import pandas as pd 
brics = pd.read_csv("brics.csv", index_col = 0)

for lab, row in brics.iterrows():
    print(lab)
    print(row)

BR
country         Brazil
capital       Brasilia
area             8.516
population       200.4
Name: BR, dtype: object
RU
country       Russia
capital       Moscow
area            17.1
population     143.5
Name: RU, dtype: object
IN
country           India
capital       New Delhi
area              3.286
population         1252
Name: IN, dtype: object
CH
country         China
capital       Beijing
area            9.597
population       1357
Name: CH, dtype: object
SA
country       South Africa
capital           Pretoria
area                 1.221
population           52.98
Name: SA, dtype: object

In [60]:
# !python3 ./py_script/dfloop_03.py
import pandas as pd 
brics = pd.read_csv("brics.csv", index_col = 0)

for lab, row in brics.iterrows():
    print(lab + ":", row["capital"])

BR: Brasilia
RU: Moscow
IN: New Delhi
CH: Beijing
SA: Pretoria

In [62]:
# !python3 ./py_script/dfloop_04.py
import pandas as pd 
brics = pd.read_csv("brics.csv", index_col = 0)

for lab, row in brics.iterrows():
    brics.loc[lab, "name_length"] = len(row["country"])
print(brics)

         country    capital    area  population  name_length
BR        Brazil   Brasilia   8.516      200.40          6.0
RU        Russia     Moscow  17.100      143.50          6.0
IN         India  New Delhi   3.286     1252.00          5.0
CH         China    Beijing   9.597     1357.00          5.0
SA  South Africa   Pretoria   1.221       52.98         12.0

In [63]:
# !python3 ./py_script/dfloop_05.py
import pandas as pd 
brics = pd.read_csv("brics.csv", index_col = 0)

brics["name_length"] = brics["country"].apply(len)

print(brics)

         country    capital    area  population  name_length
BR        Brazil   Brasilia   8.516      200.40            6
RU        Russia     Moscow  17.100      143.50            6
IN         India  New Delhi   3.286     1252.00            5
CH         China    Beijing   9.597     1357.00            5
SA  South Africa   Pretoria   1.221       52.98           12

In [64]:
# Exercise 10

# Import cars data
import pandas as pd
cars = pd.read_csv('cars.csv', index_col = 0)

# Iterate over rows of cars
for country, row in cars.iterrows():
    print(country)
    print(row)

US
country         United States
drives_right             True
cars_per_cap              809
Name: US, dtype: object
AUS
country         Australia
drives_right        False
cars_per_cap          731
Name: AUS, dtype: object
JAP
country         Japan
drives_right    False
cars_per_cap      588
Name: JAP, dtype: object
IN
country         India
drives_right    False
cars_per_cap       18
Name: IN, dtype: object
RU
country         Russia
drives_right      True
cars_per_cap       200
Name: RU, dtype: object
MOR
country         Morocco
drives_right       True
cars_per_cap         70
Name: MOR, dtype: object
EG
country         Egypt
drives_right     True
cars_per_cap       45
Name: EG, dtype: object

In [65]:
# Exercise 11

# Import cars data
import pandas as pd
cars = pd.read_csv('cars.csv', index_col = 0)

# Adapt for loop
for lab, row in cars.iterrows() :
    print(lab + ":", row["cars_per_cap"])

US: 809
AUS: 731
JAP: 588
IN: 18
RU: 200
MOR: 70
EG: 45

In [66]:
# Exercise 12

# Import cars data
import pandas as pd
cars = pd.read_csv('cars.csv', index_col = 0)

# Code for loop that adds COUNTRY column
for lab, row in cars.iterrows():
    cars.loc[lab, "COUNTRY"] = row["country"].upper()

# Print cars
print(cars)

           country  drives_right  cars_per_cap        COUNTRY
US   United States          True           809  UNITED STATES
AUS      Australia         False           731      AUSTRALIA
JAP          Japan         False           588          JAPAN
IN           India         False            18          INDIA
RU          Russia          True           200         RUSSIA
MOR        Morocco          True            70        MOROCCO
EG           Egypt          True            45          EGYPT

In [67]:
# Exercise 13

# Import cars data
import pandas as pd
cars = pd.read_csv('cars.csv', index_col = 0)

# Use .apply(str.upper)
cars["COUNTRY"] = cars["country"].apply(str.upper)

print(cars)

           country  drives_right  cars_per_cap        COUNTRY
US   United States          True           809  UNITED STATES
AUS      Australia         False           731      AUSTRALIA
JAP          Japan         False           588          JAPAN
IN           India         False            18          INDIA
RU          Russia          True           200         RUSSIA
MOR        Morocco          True            70        MOROCCO
EG           Egypt          True            45          EGYPT